$maxMobile: "(max-width: 575px)";
$minSmall: "(min-width: 576px)";
$maxSmall: "(max-width: 767px)";
$minMedium: "(min-width: 768px)";
$maxMedium: "(max-width: 991px)";
$minLarge: "(min-width: 992px)";
$maxLarge: "(max-width: 1199px)";
$minXLarge: "(min-width: 1200px)";